@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<script type="text/javascript">
    document.addEventListener('DOMContentLoaded', () => {
        fetch('https://localhost:44339/ping', {
            credentials: 'include'
        }).then((result) => alert(JSON.stringify(result)));

    }, false);
</script>
